{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <button id="btn">Click</button>
    {% if name is not null %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        function promptName(){
            var name = prompt('Quel est votre nom ?');
            if (name) {
                document.location = '{{ url }}/' + name;
            }
        }
        {% if name is null %}
        setTimeout(promptName, 10);
        {% endif %}
        document.querySelector('#btn').addEventListener('click', promptName);
    </script>
    <center>{{ parent() }}</center>
{% endblock %}